<!DOCTYPE html>
<html>
  <head>
    <title><%= Rails.configuration.title %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container">
      <% if Rails.configuration.title != 'GyazoS3' %>
        <h1><%= Rails.configuration.title %></h1>
      <% end %>

      <div class"row">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
